@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #DFE0E2;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    background: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

h2 {
    background: linear-gradient(135deg, #00bcd4 0%, #3f51b5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.w-auto {
    width: auto !important;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 680px;
}

.controls label {
    display: flex;
    flex-direction: column;
    width: 150px;
    color: #DFE0E2;
}

input[type="text"],
input[type="number"] {
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #3A3A41;
    color: #DFE0E2;
}

.checkbox-inline {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #DFE0E2;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #393A3F;
    color: #DFE0E2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #2c2c2c;
    color: #7a7a7a;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

button:hover {
    background-color: #414248;
}

.radio-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.radio-controls input[type="radio"] {
    display: none;
}

.radio-controls label {
    padding: 10px 20px;
    background-color: #2C2D32;
    color: #9C9CA3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-controls input[type="radio"]:disabled+label {
    background-color: #2c2c2c;
    color: #7a7a7a;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.radio-controls label:hover {
    background-color: #35353A;
    color: #FBFBFB;
}

.radio-controls input[type="radio"]:checked+label {
    background-color: #414248;
    color: #FBFBFB;
}

.accordion {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.05);
    position: relative;
}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000000;
    cursor: pointer;
    position: relative;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::after {
    content: '';
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    transform: translateY(-25%) rotate(45deg);
    transition: transform 0.3s;
}

.accordion[open] summary::after {
    transform: rotate(225deg);
}

.accordion summary .summary-contents {
    display: flex;
    justify-content: flex-start;
}

.accordion summary .checkmark {
    visibility: hidden;
    margin-left: 5px;
    color: #6B57F0;
}

.accordion.done summary .checkmark {
    visibility: visible;
}

.accordion .accordion-item {
    margin: 0;
    padding: 15px;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.accordion[open] .accordion-item {
    transform: none;
    opacity: 1;
}

.accordion.prog-bar {
    background-color: transparent;
}

.accordion.prog-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #7669E2 0%, #8A6FEA 25%, #B56EF1 50%, #D59EFF 75%, #E0B3FF 92%, #D59EFF 94%, #B56EF1 96%, #8A6FEA 98%, #7669E2 100%);
    background-size: 200% 100%;
    animation: progBar 0.5s linear infinite;
    filter: brightness(1.2);
    border-radius: 5px;
    z-index: -1;
}

@keyframes progBar {
    0% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.accordion.prog-bar #summary-text {
    color: #DFE0E2;
}

textarea {
    width: 100%;
    max-width: 680px;
    margin-bottom: 20px;
    padding: 10px 16px;
    background-color: #3A3A41;
    color: #DFE0E2;
    border: none;
    resize: none;
}

.sub-text {
    color: #9C9CA3;
    text-align: center;
}

.notes-text {
    color: #D3A75F;
    font-weight: bold;
}

.danger-text {
    color: #D54646;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    user-select: none;
    cursor: pointer;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

.spoiler {
    color: transparent;
}

.isReveal {
    color: #00873C !important;
}

tr:not(.highlight-row) .spoiler:not(.highlight-col) {
    background-color: #414248;
}

td.spoiler:hover {
    background-color: #616161;
}

.highlight-row,
.highlight-col {
    background-color: #757575;
}

td:not(.spoiler) {
    background-color: #212121;
    cursor: auto;
}

td:not(.spoiler):hover {
    background-color: #212121;
}

.hide {
    display: none;
}

p.tgToolTip {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 100;
    min-height: 1em;
    padding: 0.5em 1em;
    background-color: #6B57F0;
    color: #DFE0E2;
    border-radius: 5px;
    border-color: #2a2e35 transparent transparent transparent;
}

p.tgToolTip::after {
    content: "";
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #6B57F0 transparent transparent transparent;
}

@media (max-width: 600px) {
    body {
        padding: 10px 10px 20px;
    }

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: larger;
    }

    .mobile-title-line1,
    .mobile-title-line2 {
        display: block;
        text-align: center;
    }

    .sub-text {
        font-size: 14px;
    }

    .controls {
        flex-direction: column;
        align-items: stretch;
    }

    .controls label {
        width: 100%;
        align-items: flex-start;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        font-size: 16px;
        margin: 0;
    }

    button {
        width: 100%;
        font-size: 16px;
        margin: 0;
    }

    textarea {
        font-size: 14px;
    }
}